body {
    margin: 0;
}

 .container {
    width: 80%;
    margin: 100px auto;
}
.items {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.item {
    float: left;
    width: 16.66%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color: rgb(5, 38, 91);
}  
.item img {
    margin-top: 10%;
    margin-left: 20%;
}
/* .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .items {
    overflow: hidden;
  }
  
  .item {
    float: left;
    width: calc(16.66% - 20px);
    margin: 0 10px 20px 0;
    box-sizing: border-box;
    background-color: aqua;
    height: 0;
    padding-bottom: 16.66%;
  }
  
  .item img {
    max-width: 100%;
    max-height: 100%;
  }
   */
/* .container {
    margin-top: 200px;
    width: 100%;
    height: 300px;
    background-color: blueviolet;
}

.items {
    width: 70%;
    height: 100%;
    background-color: brown;
    margin: auto;
}  


  .item {
    width: 15%;
    height: 50%;
    background-color: aqua;
    border: 1px solid gray;
    float: left;
    padding: 20px;
}  


 */

/* .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .items {
    width: 100%;
  }
  
  .item {
    float: left;
    margin-right: 20px;
    background-color: #f9f9fd;
    width: calc(16.66% - 16.66px);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  .item:nth-child(6n) {
    margin-right: 0;
  }
  
  .item:nth-child(6n+1) {
    clear: left;
  }
   */

   /* .item {
    float: left;
    margin-right: 20px;
    background-color: aqua;
    width: calc(16.66% - 20px);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 0;
    padding-bottom: calc(16.66% - 20px);
  }
  
  .item img {
    max-width: 100%;
    height: auto;
  }
   */
