@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500&display=swap');
body {
    margin: 0;
}

.container{
width: 100%;
height: 700px;
}

.content{
width: 80%;
height: 100%;
margin: auto;
}
.top{
width: 100%;
height: 20%;
 
text-align: center;
}
.line{
width:400px;
height: 1px;
background-color: whitesmoke;
margin: auto;
margin-bottom: 20px;
}
.info{
width: 100%;
height: 80%;
 
}
.item{
    width: 40%;
    height: 40%;
    margin-left: 8%;
    margin-bottom: 4%;
    float: left;
}

.item-icon{
width:15%;
height: 100%;
float: left;
}
.item-icon img {
    width: 70%;
    margin-top: 10px;
}
.item-info{
width: 85%;
height: 100%;
float: left;
}
h1, h2, h3{
    font-family:  'Montserrat', sans-serif;
}
p{
    font-family: 'Lora', serif;
    color: grey;
}